* 
{ 
    margin: 0px; padding: 10px; 
    
    
}
body {
	background: #eaebec;
	font-family: "Open Sans", sans-serif;
}
img
{
    padding: 10px;
    height: 65%;
    width: 75%;
}

.h2
{
    padding: 10px;
	position:absolute;    
	top:10px;
	left:10px;	
	overflow:hidden;
    transform-style: preserve-3d;

}
.h5
{
    display: flex;
    width:325px;
	height:490px;
    text-align: center;
}
.p
{
    
    background-color: azure;
}
a
{
    text-align: center;
}